$timeFast: 160ms;

$padding: 2rem;
$orange: orange;
$white: #ffffff;
$gray: #ccc;
$shadow: 0 .2rem .4rem rgba(0, 0, 0, .1);
$shadow_hover: 0 .2rem .4rem rgba(0, 0, 0, .3);
$primary_color: rgb(66, 66, 66);
$title_weight: 700;
$title_weight: 700;
