.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.Modal {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 0.2rem;
  max-width: 50rem;
  max-height: calc(100% - 2rem);
  width: 100%;
  box-shadow: var(--shadow);
  position: relative;
}

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  line-height: inherit;
}

button:focus {
  outline: none;
}

.Icon {
  cursor: pointer;
  transition: background-color var(--time_fast);
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  background: none;
  color: #333;
  border-radius: .2rem;

  &:hover {
    background-color: var(--gray);;
  }
}
