.Button {
  transition: 120ms;
  padding: 0.4rem 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  background-color: #fff;
  border: 0.1rem solid var(--orange);
  color: var(--orange);
  cursor: pointer;

  &:hover {
    background-color: var(--orange);
    color: #fff;
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: darkorange;
    border-color: darkorange;
  }

  &:disabled {
    background-color: #f0f0f0;
    border-color: #ccc;
    color: #ccc;
    cursor: not-allowed;
  }
}
