.DetailCard {
  box-shadow: var(--shadow);
  background: var(--white);
  border-radius: .2rem;
  overflow: hidden;
}

.Pick {
  width: 100%;
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}

.Content {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: calc(var(--padding) / 2);;
  gap: calc(var(--padding) / 2);
  max-width: 100rem;
  margin: 0 auto;
}

.Title {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.Desc {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.Footer {
  margin-top: auto;
  font-size: 1.2rem;
  line-height: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--padding) / 2);
  color: #999999;
}

.Link {
  transition: var(--time_fast);
  padding: .4rem .6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .2rem;
  background-color: var(--white);
  border: .1rem solid var(--orange);
  color: var(--orange);

  &:hover {
    background-color: var(--orange);
    color: var(--white);
  }
}