.Pagination {
  margin-top: auto;
  padding-top: var(--padding);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding);
  color: var(--gray);;
}

.ActivePage {
  color: #999;
  text-decoration: underline;
}