.AddPostModal {
  display: flex;
  flex-direction: column;
  gap: calc(var(--padding) / 2);
}

.Item {
  position: relative;
  flex: 1 1 auto;
}

input,
textarea {
  width: 100%;
  font-size: 1.4rem;
  padding: 0.6rem 0.8rem;
  border: 0.1rem solid var(--gray);
  border-radius: 0.2rem;
  background-color: #fff;
  transition: border-color var(--time_fast);
  outline: none;

  &:focus,
  &:hover {
    border-color: var(--orange);
  }

  &:disabled {
    background-color: #f0f0f0;
    color: #999;
    cursor: not-allowed;
  }

  &::placeholder {
    color: #999;
    font-size: 1.2rem;
  }
}

textarea {
  max-height: 50vh;
  resize: vertical;
  min-height: 12rem;
}

input {
  height: 2.4rem;
}

.Button {
  margin-left: auto;
}